set completions_dir {{ env "XDG_DATA_HOME" | default (joinPath .chezmoi.homeDir ".local/share/fish/vendor_completions.d") }}
if [ ! -d $completions_dir ]
    mkdir -p $completions_dir
end

{{ if (and (eq .chezmoi.os "darwin") (eq .chezmoi.arch "arm64")) }}
if [ -f /opt/homebrew/bin/brew ]
    fish_add_path "/opt/homebrew/bin"
end
{{ end }}

if [ -f {{ (joinPath .chezmoi.homeDir ".cargo/bin/rustup") | quote }} ]
    fish_add_path {{ (joinPath .chezmoi.homeDir ".cargo/bin") }}
    rustup completions fish rustup > $completions_dir/rustup.fish

    # cargo doesn't yet support fish completions
    # rustup completions fish cargo > $completions_dir/cargo.fish
end

if [ -f {{ (joinPath .chezmoi.homeDir ".deno/bin/deno") | quote }} ]
    fish_add_path {{ (joinPath .chezmoi.homeDir ".deno/bin") }}
    deno completions zsh > $completions_dir/deno.fish
end

set -u completions_dir
set -Ux EDITOR hx

if command -q starship
    starship init fish | source
end
