#!/bin/bash

set -euo pipefail

export PATH="${PATH}:${HOME}/.cargo/bin:${HOME}/.deno/bin"
{{ if eq .chezmoi.os "linux" }}
{{- if or (eq .chezmoi.osRelease.id "debian") (contains "debian" (.chezmoi.osRelease.idLike | default "")) }}
if ! command -v unzip >/dev/null 2>&1; then
	sudo apt-get update
	sudo apt-get install -y --no-install-recommends ca-certificates curl unzip
fi
{{ end }}
{{- end }}
if ! command -v rustup >/dev/null 2>&1; then
	curl --proto '=https' --tlsv1.2 -fsSL https://sh.rustup.rs |
		sh -s -- -y --no-modify-path --default-toolchain stable
fi

if ! rustup toolchain list | grep -q '^nightly'; then
	rustup toolchain install nightly
fi

if ! rustup +nightly component list --installed |
	grep -q '^rustc-codegen-cranelift'; then
	rustup +nightly component add rustc-codegen-cranelift
fi

if ! command -v cargo-binstall >/dev/null 2>&1; then
	curl --proto '=https' --tlsv1.2 -fsSL https://raw.githubusercontent.com/cargo-bins/cargo-binstall/main/install-from-binstall-release.sh |
		bash
fi

if ! command -v deno >/dev/null 2>&1; then
	curl -fsSL https://deno.land/install.sh |
		sh -s -- -y --no-modify-path
fi
