completions_dir={{ env "XDG_DATA_HOME" | default (joinPath .chezmoi.homeDir ".local/share/bash-completion/completions") }}
if [ ! -d $completions_dir ]
then
    mkdir -p $completions_dir
fi

{{ if (and (eq .chezmoi.os "darwin") (eq .chezmoi.arch "arm64")) }}
if [ -f /opt/homebrew/bin/brew ] && [[ ! "$PATH" =~ (^|:)"/opt/homebrew/bin"(:|$) ]]
then
    PATH="/opt/homebrew/bin/brew:$PATH"
fi
{{ end }}

if [ -f {{ joinPath .chezmoi.homeDir ".cargo/bin/rustup" }} ] && [[ ! "$PATH" =~ (^|:){{ joinPath .chezmoi.homeDir ".cargo/bin" }}(:|$) ]]
then
    PATH="{{ joinPath .chezmoi.homeDir ".cargo/bin" }}:$PATH"
    rustup completions bash rustup > $completions_dir/rustup
    rustup completions bash cargo > $completions_dir/cargo
fi

if [ -f {{ (joinPath .chezmoi.homeDir ".deno/bin/deno") }} ] && [[ ! "$PATH" =~ (^|:){{ (joinPath .chezmoi.homeDir ".deno/bin") }}(:|$) ]]
then
    PATH="{{ joinPath .chezmoi.homeDir ".deno/bin" }}:$PATH"
    deno completions bash > $completions_dir/deno
fi

{{ if eq .chezmoi.os "darwin" }}
[[ -r "$(brew --prefix)/etc/profile.d/bash_completion.sh" ]] && . "$(brew --prefix)/etc/profile.d/bash_completion.sh"
{{ else if eq .chezmoi.os "linux" }}
. /usr/share/bash-completion/bash_completion
{{ end }}

unset completions_dir
export EDITOR=hx

if which starship &> /dev/null
then
    eval "$(starship init bash)"
fi
