typeset -U PATH path

local completions_dir={{ env "XDG_DATA_HOME" | default (joinPath .chezmoi.homeDir ".local/share/zsh/site-functions") }}
if [ ! -d $completions_dir ]
then
    mkdir -p $completions_dir
fi

fpath+=("$completions_dir")

{{ if (and (eq .chezmoi.os "darwin") (eq .chezmoi.arch "arm64")) }}
if [ -f /opt/homebrew/bin/brew ]
then
    path=("/opt/homebrew/bin" $path)
    fpath+=("/opt/homebrew/share/zsh/site-functions" "/opt/homebrew/share/zsh-completions")
    autoload -Uz compinit

    compinit -u
fi
{{ end }}

if [ -f {{ (joinPath .chezmoi.homeDir ".cargo/bin/rustup") }} ];
then
    path=({{ (joinPath .chezmoi.homeDir ".cargo/bin") }}  $path)
    rustup completions zsh rustup > $completions_dir/_rustup
    rustup completions zsh cargo > $completions_dir/_cargo
fi

if [ -f {{ (joinPath .chezmoi.homeDir ".deno/bin/deno") }} ]
then
    path=({{ (joinPath .chezmoi.homeDir ".deno/bin") }}  $path)
    deno completions zsh > $completions_dir/_deno
fi

unset completions_dir
export EDITOR=hx

if which starship &> /dev/null
then
    eval "$(starship init zsh)"
fi
