{
  "icon_theme": {
    "mode": "system",
    "light": "Zed (Default)",
    "dark": "Zed (Default)"
  },
  "terminal": {
    "shell": {
      "program": "fish",
    },
  },
  "auto_install_extensions": {
    "zig": true,
    "fish": true,
    "deno": true,
    "nu": true,
    "tombi": true,
    "cspell": true,
    "pyrefly": true,
    "proto": true,
  },
  "git_panel": {
    "dock": "left"
  },
  "project_panel": {
    "dock": "left"
  },
  "agent": {
    "dock": "right",
  },
  "disable_ai": true,
  "ui_font_size": 16,
  "buffer_font_size": 15,
  "theme": {
    "mode": "system",
    "light": "Ayu Light",
    "dark": "Ayu Dark",
  },
  "edit_predictions": {
    "allow_data_collection": "no",
  },
  "lsp": {
    "deno": {
      "settings": {
        "enable": true,
      },
    },
    "json-language-server": {
      "settings": {
        "json": {
          "schemas": [
            {
              "fileMatch": [
                "deno.json",
                "deno.jsonc",
              ],
              "url": "https://raw.githubusercontent.com/denoland/deno/refs/heads/main/cli/schemas/config-file.v1.json",
            },
            {
              "fileMatch": [
                "package.json",
              ],
              "url": "https://www.schemastore.org/package",
            },
          ],
        },
      },
    },
    "rust-analyzer": {
      "enable_lsp_tasks": true,
      "initialization_options": {
        "inlayHints": {
          "maxLength": null,
          "lifetimeElisionHints": {
            "eanble": "skip_trivial",
            "useParameterNames": true,
          },
          "closureReturnTypeHints": {
            "enable": "always",
          },
        },
      },
      "settings": {
        "check": {
          "command": "clippy",
        },
        "runnables": {
          "test": {
            "overrideCommand": [
              "cargo",
              "nextest",
              "run",
              "--package",
              "${package}",
              "${target_arg}",
              "${target}",
              "--",
              "${test_name}",
              "${exact}",
              "${include_ignored}",
              "${executable_args}",
            ],
          },
        },
      },
    },
    "nu": {
      "binary": {
        "path": "nu",
        "arguments": [ "--lsp" ],
      },
    },
  },
  "languages": {
    "Python": {
      "language_servers": [
        "pyrefly",
        "!basedpyright",
      ],
      "format_on_save": "on",
      "formatter": {
        "external": {
          "command": "autopep8",
        },
      },
    },
    "JavaScript": {
      "format_on_save": "on",
      "language_servers": [
        "deno",
        "!typescript-language-server",
        "!vtsls",
        "!eslint",
      ],
      "formatter": "language_server",
    },
    "TypeScript": {
      "format_on_save": "on",
      "language_servers": [
        "deno",
        "!typescript-language-server",
        "!vtsls",
        "!eslint",
      ],
      "formatter": "language_server",
    },
    "TSX": {
      "format_on_save": "on",
      "language_servers": [
        "deno",
        "!typescript-language-server",
        "!vtsls",
        "!eslint",
      ],
      "formatter": "language_server",
    },
    "Rust": {
      "format_on_save": "on",
    },
    "C": {
      "format_on_save": "on",
    },
    "C++": {
      "format_on_save": "on",
    },
    "Fish": {
      "formatter": {
        "external": {
          "command": "fish_indent",
        },
      },
    },
    "Nu": {
      "language_servers": [ "nu" ],
      "format_on_save": "on",
      "formatter": {
        "external": {
          "command": "nufmt",
        },
      },
    },
  },
  "semantic_tokens": "combined",
  "code_lens": "on",
}
