{
  "auto_install_extensions": {
    "zig": true,
    "fish": true,
    "deno": true,
    "nu": true,
    "tombi": true,
    "cspell": true,
    "pyrefly": true,
    "proto": true,
  },
  "git_panel": {
    "dock": "left"
  },
  "project_panel": {
    "dock": "left"
  },
  "disable_ai": true,
  "ui_font_size": 16,
  "buffer_font_size": 15,
  "theme": {
    "mode": "system",
    "light": "Ayu Light",
    "dark": "Ayu Dark",
  },
  "lsp": {
    "deno": {
      "settings": {
        "enable": true,
      },
    },
    "json-language-server": {
      "settings": {
        "json": {
          "schemas": [
            {
              "fileMatch": [
                "deno.json",
                "deno.jsonc",
              ],
              "url": "https://raw.githubusercontent.com/denoland/deno/refs/heads/main/cli/schemas/config-file.v1.json",
            },
            {
              "fileMatch": [
                "package.json",
              ],
              "url": "https://www.schemastore.org/package",
            },
          ],
        },
      },
    },
    "rust-analyzer": {
      "enable_lsp_tasks": true,
      "settings": {
        "check": {
          "command": "clippy",
        },
      },
    },
    "nu": {
      "binary": {
        "path": "nu",
        "arguments": [ "--lsp" ],
      },
    },
  },
  "languages": {
    "Python": {
      "language_servers": [
        "pyrefly",
        "!basedpyright",
      ],
      "format_on_save": "on",
      "formatter": {
        "external": {
          "command": "autopep8",
        },
      },
    },
    "JavaScript": {
      "format_on_save": "on",
      "language_servers": [
        "deno",
        "!typescript-language-server",
        "!vtsls",
        "!eslint",
      ],
      "formatter": "language_server",
    },
    "TypeScript": {
      "format_on_save": "on",
      "language_servers": [
        "deno",
        "!typescript-language-server",
        "!vtsls",
        "!eslint",
      ],
      "formatter": "language_server",
    },
    "TSX": {
      "format_on_save": "on",
      "language_servers": [
        "deno",
        "!typescript-language-server",
        "!vtsls",
        "!eslint",
      ],
      "formatter": "language_server",
    },
    "Rust": {
      "format_on_save": "on",
    },
    "C": {
      "format_on_save": "on",
    },
    "C++": {
      "format_on_save": "on",
    },
    "Fish": {
      "formatter": {
        "external": {
          "command": "fish_indent",
        },
      },
    },
    "Nu": {
      "language_servers": [ "nu" ],
      "format_on_save": "on",
      "formatter": {
        "external": {
          "command": "nufmt",
        },
      },
    },
  },
}
