[machine]
cpus = {{ div .machine.cpus 2 }}
memory = {{ (div .machine.memory (mul 2 1024 1024)) }}
{{ if eq .chezmoi.os "darwin" }}
provider = "applehv"
{{ if eq .chezmoi.arch "arm64" }}
rosetta = true
{{ end }}
{{ end }}

[engine]
compression_format = "zstd"
compression_level = 11
